extends layout

block content
	.container-fluid
		.row
			.col-md-12
				p.logout-button: a(href="/auth/logout") Log out
				p.link-portfolio: a(href="/test/#{user.id}") View Portfolio page
				if !user.job
					.box-one
						h1.greeting Hello, #{user.username}!
						h1.build Let's start building your portfolio
					.section-one
						h3.directions1
							|First let's start to build your profile with your name, occupation and tagline
					.section-two
						form(action='/file-upload', method='post', enctype="multipart/form-data", role="form")
							input(type="text", name='name' placeholder="Enter your name")
							input(type="text", name='job' placeholder='What is your occupation?')
							input(type="textarea", name='byline' placeholder='What sets you apart?')
							h3.directions2 Upload your hero image. <br> This is the background image which is what the user will see <br>when they come to your page if your theme uses one.
							input(type="file", name='hero' placeholder="Enter your hero image")
							input(type='submit')
				else
					//- h2 Upload pictures of your work to your profile page
					//- form(method='post', action='/file-upload', enctype="multipart/form-data", role="form")
					//- 	h3 Upload pictures to your profile
					//- 	input(type="file", name='pic' placeholder="Upload pictures to profile")
					//- h1.title-dashboard DASHBOARD
					h2 Lets select what you want to display on your page
					.container-fluid
						.row
							.col-md-offset-1.col-md-2
								.button-box
									button.add-images.add Add Images and Websites 
									button.add-skills.add Add Skills and Interests
									button.add-bio.add Bio - your about me page
									button.add-theme.add Select your theme
									button.add-social.add Add Social Sharing
							.col-md-9
								.show-content
									.content-images.hidden.content
										form(action='/portfolio-upload', method='post', enctype="multipart/form-data", role="form")
											.form-group
												input(type="file", name='image' placeholder="Upload your image")
											.form-group
												input.form-control(type="text", name='url' placeholder="Enter the URL of your website")
												//- input(type="file", name='image' placeholder="Upload your image")
												//- input(type="text", name='url' placeholder="Enter the URL of your website")
												<br>
												input.button(type='submit')
									.content-skills.hidden.content
										h3 List your experience with the following in the field of photography:
										form(action='/file-upload-skills', method='post', role="form")
											.checkbox
												label(for="checkbox")
													input(type="checkbox", name="skills", value="dslr")
													| DSLR Cameras
											.checkbox
												label(for="checkbox")
													input(type="checkbox", name="skills", value="lens")
													| Knowledge of how to use different lenses
											.checkbox
												label(for="checkbox")
													input(type="checkbox", name="skills", value="lightbox")
													| Comfortable using Adobe's Lightbox
											.checkbox
												label(for="checkbox")
													input(type="checkbox", name="skills", value="film")
													| Knowledge of how to develop film
												<br>
												input.button(type='submit')
									.content-bio.hidden.content
										form(action="/portfolio-upload-bio", method="post", enctype="multipart/form-data", role="form")
											input.textarea-styled(type="textarea", name='bio' placeholder="Tell the world about what you do...")
											<br>
											input.button(type='submit')
									.content-theme.hidden.content
										h3 Choose a theme for your website
										form(action='/portfolio-upload-theme', method='post', enctype="multipart/form-data", role="form")
											.radio
												label(for="radio")
													input(type="radio", name="fancy", value="fancy")
													| Fancy
											.radio
												label(for="radio")
													input(type="radio", name="pretty", value="pretty")
													| Pretty
											<br>
											input.button(type='submit')
									.content-social.hidden.content
										form.form.col-sm-12(action='/file-upload-social', method='post', enctype="multipart/form-data", role="form")
											.form-group
												label(for="email") 
													input.form-control(type="text", name='email2' placeholder="Enter your email address")
													|Email
											.form-group
												label(for="twitter")
													input.form-control(type="text", name='twitter' placeholder='Enter Twitter Handle')
													|Twitter
											.form-group
												label(for="facebook")
													input.form-control(type="textarea", name='twitter' placeholder='Link to Facebook page')
													|Facebook
												<br>
												input.button(type='submit')
					.bottom-display
						h1 These are the items you have selected for your page
						.display-images
							h3 Images:
							ul
							if !user.portfolio.length
								p No images or url's added
							else	
								for item in user.portfolio
									if user.portfolio
										li #{user.portfolio[0].url}
									else
										li No images loaded



							//- if !user.portfolio[0].image
							//- 	h3 None
							//- else
							//- 	ul
							//- 		li #{user.portfolio[0].url}
							//- 		li #{user.portfolio[1].url}
						.display-skills
							h3 Skills:
						.display-bio
							h3 Bio:
							p #{user.bio} 
						.display-theme
							h3 Theme:
							if !user.themes.length
								p No theme selected
							else
								for theme in user.themes
									if theme.fancy === 'fancy'
										p Fancy
									else
										p Pretty
						.display-social
							h3 Social:
							ul
								if user.email2
									image(src="/images/social_icon_email.png")
								else
									li No email being shared
								if user.email2
									image(src="/images/social_icon_twitter.png")
								else
									li No Twitter Handle being shared
								if user.email2
									image(src="/images/social_icon_github.png")
								else
									li No Facebook Account being shared

block scripts
	script(src='/scripts/hide.js')
	
		
	